@namespace TinyLeadsBank.Components.Pages.Dialogs
@using TinyLeadsBank.Data.TestBank
@using FuzzySharp
@inject ISnackbar Snackbar
@inject IDialogService dialogService
@inject TestBankService testService

<MudDialog>
    <DialogContent>
        <MudStack>
            <MudTextField @bind-Value="Question.QuestionText" Lines="3" Label="Question Text" Immediate />
            <MudStack Row>
                <MudStack>
                    <MudIconButton OnClick="AddImage" Icon="@Icons.Material.TwoTone.UploadFile" Color="Color.Tertiary" />
                    @if (Image != null)
                    {
                        <MudIconButton OnClick="DeleteImage" Icon="@Icons.Material.TwoTone.DeleteForever" Color="Color.Error" /> 
                    }
                </MudStack>
                @if (Image != null)
                {
                    <img src="data:image/png;base64, @Image.ImageContent" />
                }
            </MudStack>
            <MudSimpleTable Striped Bordered>
                <thead>
                    <tr>
                        <th>Order</th>
                        <th>Question</th>
                        <th>Correct</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (QuestionOption option in Question.Options)
                    {
                        <tr>
                            <td>@option.OrderNumber</td>
                            <td>
                                <MudTextField @bind-Value="option.AnswerText" />
                            </td>
                            <td>
                                <MudCheckBox @bind-Value="option.CorrectAnswer" />
                            </td>
                            <td>
                                <MudIconButton OnClick="() => Delete(option)" Icon="@Icons.Material.TwoTone.DeleteForever" Color="Color.Error" />
                            </td>
                        </tr>
                    }
                    <tr>
                        <td>
                            <MudButton OnClick="Add" Color="Color.Info" Disabled="string.IsNullOrWhiteSpace(AnswerText)">Add</MudButton> 
                        </td>
                        <td><MudTextField @bind-Value="AnswerText" Immediate Label="New Answer" /></td>
                        <td>
                            <MudCheckBox @bind-Value="Correct" />
                        </td>
                    </tr>
                </tbody>
            </MudSimpleTable>
        </MudStack>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel" Variant="Variant.Filled" Color="Color.Default">Cancel</MudButton>
        <MudButton OnClick="Submit" Variant="Variant.Filled" Color="Color.Info" 
        Disabled="string.IsNullOrWhiteSpace(Question.QuestionText) || Question.Options.Count(e => e.CorrectAnswer) != 1 || !string.IsNullOrEmpty(AnswerText) || Question.Options.Count < 2">Submit</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter] IMudDialogInstance MudDialog { get; set; } = default!;
    [Parameter, EditorRequired] public Topic Topic { get; set; }
    [Parameter] public int OrderNumber { get; set; }
    private Image? Image { get; set; }
    private string? AnswerText { get; set; }
    private bool Correct { get; set; }
    private Question Question { get; set; } = new();
    private void Add()
    {
        Question.Options.Add(new() {
            AnswerText = AnswerText!,
            CorrectAnswer = Correct,
            OrderNumber = Question.Options.Count+1,
            QuestionID=Question.ID
        });
        AnswerText = null;
        Correct = false;
    }
    private void Delete(QuestionOption option)
    {
        Question.Options.Remove(option);
        for (int i = 0; i < Question.Options.Count; i++)
            Question.Options[i].OrderNumber = i + 1;
    }
    void Submit()
    {
        for (int i = 0; i < Question.Options.Count; i++)
        {
            for (int j = i + 1; j < Question.Options.Count; j++)
            {
                if (Fuzz.Ratio(Question.Options[i].AnswerText,Question.Options[j].AnswerText) == 100)
                {
                    Snackbar.Add("Identical answer options detected.", Severity.Warning);
                    return;
                }
            }
        }
        Question.TopicID = Topic.ID;
        Question.OrderNumber = OrderNumber;
        testService.CreateQuestion(Question);
        MudDialog.Close(DialogResult.Ok(Question));
    }
    void Cancel() => MudDialog.Close(DialogResult.Cancel());
    private async Task AddImage()
    {
        var options = new DialogOptions()
        {
            CloseOnEscapeKey = true,
            FullWidth = true,
            MaxWidth = MaxWidth.ExtraLarge
        };
        var parameters = new DialogParameters();
        parameters.Add(nameof(ImageGallery.Topic), Topic);
        parameters.Add(nameof(ImageGallery.PickerMode), true);
        var dialog = dialogService.ShowAsync<ImageGallery>("Select Image", parameters, options);
        var result = await dialog;
        var result2 = await result.Result;
        if (result2?.Canceled == false)
        {
            if (result2.Data is Image image)
            {
                Question.ImageID = image.ID;
                Image = image;
            }
        }
    }
    private void DeleteImage()
    {
        Question.ImageID = null;
        Image = null;
    }
}