@namespace TinyLeadsBank.Components.Pages.Dialogs
@using TinyLeadsBank.Data.TestBank
@inject IDialogService dialogService
@inject TestBankService testService

<MudDialog>
    <DialogContent>
        <MudStack>
            <MudStack Row>
                <MudStack>
                    <MudIconButton OnClick="AddImage" Icon="@Icons.Material.TwoTone.UploadFile" Color="Color.Success" /> 
                    @if (Image != null)
                    {
                        <MudIconButton OnClick="DeleteImage" Icon="@Icons.Material.TwoTone.DeleteForever" Color="Color.Error" /> 
                    }
                </MudStack>
                @if (Image != null)
                {
                    <img src="data:image/png;base64, @Image.ImageContent" />
                }
            </MudStack>
            <MudTextField @bind-Value="Question.QuestionText"  @bind-Value:after="SetDirty" Disabled="!Edit" />
            <MudSimpleTable Striped Bordered>
                <tbody>
                    @foreach (QuestionOption option in Question.Options.Where(e => !e.Delete))
                    {
                        <tr>
                            <td>
                                <MudTextField @bind-Value="option.AnswerText" @bind-Value:after="SetDirty" Disabled="!Edit" />
                            </td>
                            <td>
                                <MudCheckBox @bind-Value="option.CorrectAnswer" Disabled="!Edit" />
                            </td>
                            @if (Edit)
                            {
                                <td>
                                    <MudIconButton Icon="@Icons.Material.TwoTone.DeleteForever" Color="Color.Error" OnClick="() => Delete(option)" />
                                </td>
                            }
                        </tr>
                    }
                    @if (Edit)
                    {
                        <tr>
                            <td>
                                <MudTextField @bind-Value="NewOption" />
                            </td>
                            <td>
                                <MudCheckBox @bind-Value="NewOptionCorrect" />
                            </td>
                            <td>
                                <MudIconButton Icon="@Icons.Material.TwoTone.AddCircle" OnClick="Add" Disabled="string.IsNullOrWhiteSpace(NewOption)" />
                            </td>
                        </tr>
                    }
                </tbody>
            </MudSimpleTable>
        </MudStack>
    </DialogContent>
    <DialogActions>
        @if (Edit)
        {
            <MudButton OnClick="Submit" Variant="Variant.Filled" Color="Color.Info"
            Disabled="string.IsNullOrWhiteSpace(Question.QuestionText) || Question.Options.Any(e => string.IsNullOrWhiteSpace(e.AnswerText)) 
            || Question.Options.Where(e => !e.Delete).Count(e => e.CorrectAnswer) != 1">Save</MudButton>
        }
        else
        {
            <MudButton OnClick="Cancel" Color="Color.Default" Variant="Variant.Filled">Close</MudButton>
        }
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter] IMudDialogInstance MudDialog { get; set; } = default!;
    [Parameter, EditorRequired] public Question Question { get; set; } = default!;
    [Parameter, EditorRequired] public Topic Topic { get; set; } = default!;
    [Parameter] public bool Edit { get; set; } = false;
    private string? NewOption { get; set; }
    private bool NewOptionCorrect { get; set; }
    private List<QuestionOption> Options { get; set; } = [];
    private Image? Image { get; set; }
    private bool IsDirty { get; set; } = false;
    private void SetDirty() => IsDirty = true;
    protected override void OnInitialized()
    {
        foreach (QuestionOption option in Question.Options)
        {
            option.Delete = false;
            option.CreateNew = false;
        }
        if (Question.ImageID != null)
            Image = testService.GetImageByID(Question.ImageID.Value);
    }
    void Submit()
    {
        if (IsDirty)
            testService.UpdateQuestion(Question);
        MudDialog.Close(DialogResult.Ok(true));
    }
    void Cancel() => MudDialog.Close(DialogResult.Cancel());
    private void Delete(QuestionOption option)
    {
        if (option.CreateNew)
            Question.Options.Remove(option);
        else
            option.Delete = true;
        ResetNumbers();
    }
    private void Add()
    {
        QuestionOption option = new()
        {
            QuestionID = Question.ID,
            CreateNew=true,
            CorrectAnswer = NewOptionCorrect,
            AnswerText=NewOption!
        };
        Question.Options.Add(option);
        ResetNumbers();
    }
    private void ResetNumbers()
    {
        int ctr = 0;
        foreach (QuestionOption option in Question.Options.Where(e => !e.Delete))
        {
            option.OrderNumber = ctr++;
        }
        SetDirty();
    }
    private async Task AddImage()
    {
        var options = new DialogOptions()
        {
            CloseOnEscapeKey = true,
            FullWidth = true,
            MaxWidth = MaxWidth.ExtraLarge
        };
        var parameters = new DialogParameters();
        parameters.Add(nameof(ImageGallery.Topic), Topic);
        parameters.Add(nameof(ImageGallery.PickerMode), true);
        var dialog = dialogService.ShowAsync<ImageGallery>("Select Image", parameters, options);
        var result = await dialog;
        var result2 = await result.Result;
        if (result2?.Canceled == false)
        {
            if (result2.Data is Image image)
            {
                Question.ImageID = image.ID;
                Image = image;
                SetDirty();
            }
        }
    }
    private void DeleteImage()
    {
        Image = null;
        Question.ImageID = null;
        SetDirty();
    }
}