@page "/"
@using TinyLeadsBank.Components.Pages.Dialogs
@using TinyLeadsBank.Data.TestBank
@using TinyLeadsBank.Data.Users
@inject TestBankService testService
@inject IDialogService dialogService
@*<AuthorizeView>
    <Authorized>*@
        @if (Loaded)
        {
            <MudExpansionPanels MultiExpansion>
                <MudExpansionPanel Text="Create" Expanded=true>
                    <MudStack Row>
                        <MudButton OnClick="CreateNewTopic" Variant="Variant.Filled" Color="Color.Info">Create Topic</MudButton>
                        <MudButton OnClick="() => EditExam()" Variant="Variant.Filled" Color="Color.Info">Create Exam</MudButton>
                    </MudStack>
                    <MudSimpleTable Striped Bordered>
                        <thead>
                            <tr>
                                <th>In Progress Exams</th>
                                <th>Edit</th>
                                <th>Preview</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Exam exam in Exams)
                            {
                                <tr>
                                    <td>@exam.TestName</td>
                                    <td>
                                        <MudIconButton Color="Color.Success" OnClick="() => EditExam(null, exam)" Icon="@Icons.Material.TwoTone.Edit" />
                                    </td>
                                    <td>
                                        <MudIconButton Color="Color.Info" OnClick="() => PreviewExam(exam)" Icon="@Icons.Material.TwoTone.RemoveRedEye" />
                                        <MudIconButton Color="Color.Success" OnClick="() => PreviewExam(exam, true)" Icon="@Icons.Material.TwoTone.CheckCircle" />
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </MudSimpleTable>
                </MudExpansionPanel>
                @foreach (Topic topic in Topics)
                {
                    <MudExpansionPanel>
                        <TitleContent>
                            <MudStack Row Justify="Justify.SpaceBetween">
                                <MudText>@topic.TopicName</MudText>
                                <MudStack Row>
                                    <MudIconButton Color="Color.Success" Icon="@Icons.Material.TwoTone.Add" OnClick="() => AddQuestion(topic)" />
                                    <MudIconButton Color="Color.Primary" Icon="@Icons.Material.TwoTone.ListAlt" OnClick="() => EditCategories(topic)" />
                                    <MudIconButton Color="Color.Error" Icon="@Icons.Material.TwoTone.DeleteForever" OnClick="() => DeleteTopic(topic)" />
                                </MudStack>
                            </MudStack>
                        </TitleContent>
                        <ChildContent>
                            <MudSimpleTable Striped Bordered>
                                <tbody>
                                    @foreach (Question question in topic.Questions.OrderBy(e => e.OrderNumber))
                                    {
                                        <tr>
                                            <td>
                                                <MudIconButton Icon="@(question.View ? Icons.Material.TwoTone.Cancel : Icons.Material.TwoTone.RemoveRedEye)" Color="question.View ? Color.Warning : Color.Info" OnClick="() => question.View = !question.View" />
                                            </td>
                                            <td colspan="2">@question.QuestionText</td>
                                            <td>
                                                <MudIconButton Color="Color.Primary" Icon="@Icons.Material.TwoTone.ListAlt" OnClick="() => EditCategories(question)" />
                                                <MudIconButton Color="Color.Success" Icon="@Icons.Material.TwoTone.Edit" OnClick="() => EditQuestion(question)" />
                                                <MudIconButton Color="Color.Error" Icon="@Icons.Material.TwoTone.DeleteForever" OnClick="() => DeleteQuestion(topic, question)" />
                                            </td>
                                        </tr>
                                        @if (question.View)
                                        {
                                            @foreach (QuestionOption option in question.Options.OrderBy(e => e.OrderNumber))
                                            {
                                                <tr>
                                                    <td></td>
                                                    <td>@option.OrderNumber</td>
                                                    <td>@option.AnswerText</td>
                                                    <td></td>
                                                </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </MudSimpleTable>
                        </ChildContent>
                    </MudExpansionPanel>
                }
            </MudExpansionPanels>
        }
        else
        {
            <MudButton OnClick="Load" Variant="Variant.Filled">Load</MudButton>
        }
    @*</Authorized>
    <NotAuthorized>
        <i>Please log in</i>
    </NotAuthorized>
</AuthorizeView>*@

@code {
    [CascadingParameter] public Auth0User? User { get; set; }
    private bool Loaded { get; set; } = false;
    private List<Topic> Topics { get; set; } = [];
    private List<Exam> Exams { get; set; } = [];
    private void Load()
    {
        //if (User == null)
        //    return;
        //Topics = testService.GetTopicsByUserID(User.UserID);
        Topics = new List<Topic>(){
            new() { TopicName = "Topic 1", Questions = new List<Question>() {
                new Question()
                {
                    QuestionText = "What is delicious", OrderNumber=1, Options= new List<QuestionOption>() {
                        new() { OrderNumber=1, AnswerText = "candy", CorrectAnswer=true },
                        new() { OrderNumber=2, AnswerText = "truth", CorrectAnswer=false },
                        new() { OrderNumber=3, AnswerText = "beauty", CorrectAnswer=false }
                    }
                },
                new Question()
                {
                    QuestionText = "I love you", OrderNumber=2, Options= new List<QuestionOption>() {
                        new() { OrderNumber=1, AnswerText = "I love you too", CorrectAnswer=false },
                        new() { OrderNumber=2, AnswerText = "I know", CorrectAnswer=false },
                        new() { OrderNumber=3, AnswerText = "fhqwgads", CorrectAnswer=true }
                    }
                }
            },
        },
        new() {
            TopicName = "Topic 2", Questions = new List<Question>() {
                new Question()
                {
                    QuestionText = "Best sword art",OrderNumber=1, Options= new List<QuestionOption>() {
                        new() { OrderNumber=1, AnswerText = "Haedong Gumdo", CorrectAnswer=false },
                        new() { OrderNumber=2, AnswerText = "Niten Ichy Ryu", CorrectAnswer=false },
                        new() { OrderNumber=3, AnswerText = "Hiten Mitsurugi Ryu", CorrectAnswer=true }
                    }
                },
                new Question()
                {
                    QuestionText = "Best karate",OrderNumber=2, Options= new List<QuestionOption>() {
                        new() { OrderNumber=1, AnswerText = "Tang Soo Do", CorrectAnswer=false },
                        new() { OrderNumber=2, AnswerText = "Shotokan", CorrectAnswer=true },
                        new() { OrderNumber=3, AnswerText = "Isshin Ryu", CorrectAnswer=false }
                    }
                }
            },
        }
        };
        Loaded = true;
    }
    private async Task AddQuestion(Topic topic)
    {
        var options = new DialogOptions()
        {
            CloseOnEscapeKey = true,
            MaxWidth = MaxWidth.ExtraLarge
        };
        var parameters = new DialogParameters();
        parameters.Add(nameof(CreateQuestion.TopicID), topic.ID);
        parameters.Add(nameof(CreateQuestion.OrderNumber), topic.Questions.Count+1);
        var dialog = dialogService.ShowAsync<CreateQuestion>("Create Question", parameters, options);
        var result = await dialog;
        var result2 = await result.Result;
        if (result2?.Canceled == false)
        {
            var newquestion = result2.Data as Question;
            if (newquestion != null)
                topic.Questions.Add(newquestion);
        }
    }
    private async Task EditQuestion(Question question)
    {
        var options = new DialogOptions()
        {
            CloseOnEscapeKey = false,
            MaxWidth = MaxWidth.ExtraLarge
        };
        var parameters = new DialogParameters();
        parameters.Add(nameof(EditQuestionDialog.Question), question);
        parameters.Add(nameof(EditQuestionDialog.Edit), true);
        var dialog = dialogService.ShowAsync<EditQuestionDialog>("Edit Question", parameters, options);
        var result = await dialog;
        var result2 = await result.Result;
    }
    private async Task DeleteTopic(Topic topic)
    {
        var options = new DialogOptions()
        {
            CloseOnEscapeKey = true,
            MaxWidth = MaxWidth.Medium
        };
        var parameters = new DialogParameters();
        parameters.Add(nameof(ConfirmDialog.Message), $"Delete the topic \"{topic.TopicName}\"?");
        parameters.Add(nameof(ConfirmDialog.ButtonText), "Yes, Delete");
        parameters.Add(nameof(ConfirmDialog.ButtonColor), Color.Error);
        var dialog = dialogService.ShowAsync<ConfirmDialog>("Confirm Delete?", parameters, options);
        var result = await dialog;
        var result2 = await result.Result;
        if (result2?.Canceled == false)
        {
            Topics.Remove(topic);
            testService.DeleteTopic(topic);
        }
    }
    private async Task DeleteQuestion(Topic topic, Question question)
    {
        var options = new DialogOptions()
        {
            CloseOnEscapeKey = true,
            MaxWidth = MaxWidth.Medium
        };
        var parameters = new DialogParameters();
        parameters.Add(nameof(ConfirmDialog.Message), $"Delete the question \"{question.QuestionText.Substring(30)}\"?");
        parameters.Add(nameof(ConfirmDialog.ButtonText), "Yes, Delete");
        parameters.Add(nameof(ConfirmDialog.ButtonColor), Color.Error);
        var dialog = dialogService.ShowAsync<ConfirmDialog>("Confirm Delete?", parameters, options);
        var result = await dialog;
        var result2 = await result.Result;
        if (result2?.Canceled == false)
        {
            topic.Questions.Remove(question);
            testService.DeleteQuestion(question);
        }
    }
    private async Task EditCategories(ICategoried cats)
    {
        var options = new DialogOptions()
        {
            CloseOnEscapeKey = true,
            MaxWidth = MaxWidth.Medium
        };
        var parameters = new DialogParameters();
        parameters.Add(nameof(CategoryEditor.CatString), cats.Categories);
        var dialog = dialogService.ShowAsync<CategoryEditor>("Edit Categories", parameters, options);
        var result = await dialog;
        var result2 = await result.Result;
        if (result2?.Canceled == false)
        {
            cats.Categories = result2.Data as string;
            if (cats is Question question)
                testService.UpdateQuestion(question);
            else if (cats is Topic topic)
                testService.UpdateTopic(topic);
        }
    }
    private async Task CreateNewTopic()
    {
        if (User == null)
            return;
        var options = new DialogOptions()
        {
            CloseOnEscapeKey = true,
            MaxWidth = MaxWidth.Medium
        };
        var parameters = new DialogParameters();
        parameters.Add(nameof(CreateTopic.UserID), User.UserID);
        var dialog = dialogService.ShowAsync<CreateTopic>("Create New Topic", parameters, options);
        var result = await dialog;
        var result2 = await result.Result;
        if (result2?.Canceled == false)
        {
            Topic? newtopic = result2.Data as Topic;
            if (newtopic != null)
            {
                Topics.Add(newtopic);
                //testService.CreateTopic(newtopic);
            }
        }
    }
    private async Task EditExam(Topic? topic = null, Exam? exam = null)
    {
        List<Topic> topics = [];
        if (topic == null)
        {
            var options = new DialogOptions()
            {
                CloseOnEscapeKey = true,
                //FullWidth = true,
                MaxWidth = MaxWidth.ExtraLarge
            };
            var parameters = new DialogParameters();
            parameters.Add(nameof(TopicsPickerDialog.Topics), Topics);
            var dialog = dialogService.ShowAsync<TopicsPickerDialog>("Select Exam Topics", parameters, options);
            var result = await dialog;
            var result2 = await result.Result;
            if (result2?.Canceled == false)
            {
                List<Topic>? data = result2.Data as List<Topic>;
                if (data != null && data.Count > 0)
                {
                    topics = data;
                }
                else
                    return;
            }
            else
                return;
        }
        else
        {
            topics.Add(topic);
        }
        //open dialog to create exam??
        var options2 = new DialogOptions()
            {
                CloseOnEscapeKey = true,
                FullWidth = true
            };
        var parameters2 = new DialogParameters();
        parameters2.Add(nameof(ExamQuestionPicker.Questions), topics.SelectMany(e => e.Questions).ToList());
        parameters2.Add(nameof(ExamQuestionPicker.UserID), User?.UserID ?? Guid.Empty);
        if (exam != null)
            parameters2.Add(nameof(ExamQuestionPicker.Exam), exam);
        var dialog2 = dialogService.ShowAsync<ExamQuestionPicker>("Select Exam Questions", parameters2, options2);
        var result3 = await dialog2;
        var result4 = await result3.Result;
        if (result4?.Canceled == false)
        {
            var data2 = result4.Data as Exam;
            if (data2 != null && exam == null)
            {
                Exams.Add(data2);
            }
        }
    }
    private async Task PreviewExam(Exam exam, bool keymode = false)
    {
        //open dialog
        string preview = "<ol type=\"1\">";
        foreach (ExamQuestion question in exam.ExamQuestions.OrderBy(e => e.OrderNumber))
        {
            preview += "<li>" + question.Question.QuestionText + "<ol type=\"A\">";
            foreach (QuestionOption option in question.Question.Options)
            {
                if (keymode && option.CorrectAnswer)
                    preview += "<b>";
                preview += "<li>" + option.AnswerText + "</li>";
                if (keymode && option.CorrectAnswer)
                    preview += "</b>";
            }
            preview += "</ol></li>";
        }
        preview += "</ol>";
        var options = new DialogOptions()
        {
            CloseOnEscapeKey = true,
            MaxWidth = MaxWidth.ExtraLarge
        };
        var parameters = new DialogParameters();
        parameters.Add(nameof(ExamPreviewer.Preview), preview);
        var dialog = dialogService.ShowAsync<ExamPreviewer>("Preview Exam " + exam.TestName, parameters, options);
        var result = await dialog;
        var result2 = await result.Result;
    }
}